altair==4.2.2
pandas==1.5.3  # compatible with the latest profiling tools
numpy==1.23.5  # essential for pandas
matplotlib==3.7.1  # required by seaborn
seaborn==0.13.2  # specified version
visions==0.7.5  # required by ydata-profiling
ydata-profiling==4.8.3  # latest compatible version with seaborn>=0.13
openai==0.26.5
Pillow==10.3.0
plotly==5.7.0
PyPDF2==3.0.1
requests
scikit-learn==1.4.0  # Using a slightly older version to avoid the conflict with joblib
joblib==1.2.0 
scipy==1.13.1
streamlit==1.34.0
pandas-profiling<=3.1.0
streamlit_pandas_profiling
streamlit_wallet_connect==0.0.9
w3storage==0.0.1
yfinance==0.2.40
